{% extends "learning_logs/base.html" %}

{% block page_header %}
  <style> 
  .red {
    border: 1px solid red;
  </style>

  <div class="jumbotron">
    <h1 class="display-3">Learning Log</h1>

    <p class="lead">Make your own Learning Log, and keep a list of the topics you're learning about. Whenever you learn something new about a topic, make an entry summarizing what you've learned.</p>

    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
        role="button">Register &raquo;</a>
  </div>

  <p>This project has been fabricated in the course of:</p>
  <hr class="red">
  <p>Book: Python Crash Course: A Hands-On, Project-Based Introduction to Programming 
  <p>Author: Eric Matthes</p>
  <a href="https://github.com/ehmatthes/pcc_2e/">&#128077; The accompanying Github! &#128077;</a>
{% endblock page_header %}