{% extends "learning_logs/base.html" %}

{% block content %}

<style> 
    .button {
    color: #fff;
    background-color: #eb6864;
*/	border: 1px solid transparent;*/
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  .button { font-weight: initial;
  }
</style>

  <form method="post" action="{% url 'users:register' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button class="button" name="submit">Register</button>
    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
  </form>
{% endblock content %}